@import "~reset-css/reset.css";
@import "../config/_variables";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

body {
  background-color: $bg-color;
  background-image: url("../../images/noisy_grid.png");

  //font-family: -apple-system, BlinkMacSystemFont, "Open San", Tahoma, Helvetica,
  //  Arial, sans-serif;
  font-family: "Open Sans", Arial, Tahoma;
  color: #363636;
}

* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
